@use "./style_components/appHeader" as *;
@use "./style_components/appMain" as *;
@use "./style_components/appFooter" as *;
@use "./style_components/root" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.flex,
ul {
    display: flex;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 100%;
}