@use "./root" as *;

main {
    padding: 60px 0;

    .main-container {
        flex-wrap: wrap;
        justify-content: center;
        width: 72%;
        margin: 0 auto;

        .card {
            width: 380px;
            margin: 20px 10px;
            position: relative;

            .card-img {
                position: relative;
                width: 100%;

                .first-img {
                    position: absolute;
                    left: 0;
                    z-index: 0;

                    &:hover {
                        opacity: 0;
                    }

                }

                .boxes {
                    position: absolute;
                    z-index: 20;
                    bottom: 42px;
                    gap: 5px;

                    .box {
                        padding: 8px 10px;
                        color: white;
                        font-size: 14px;
                        font-weight: bold;
                    }

                    .red {
                        background-color: $red-color;
                    }

                    .green {
                        background-color: $green-color;
                    }

                }

                .fav {
                    background-color: white;
                    padding: 10px;
                    position: absolute;
                    z-index: 20;
                    top: 10px;
                    right: 0;

                    button {
                        color: black;
                        font-size: 24px;
                        border: none;
                        background-color: white;
                        cursor: pointer;

                        &:hover {
                            color: $red-color;
                        }

                    }

                }

            }

            .brand {
                font-size: 14px;
            }

            .final-price {
                display: inline-block;
                margin-right: 5px;
                color: $red-color;
                font-weight: bold;
                font-size: 14px;
            }

            .old-price {
                text-decoration: line-through;
                font-size: 14px;
            }

        }

    }

}